include includes/axios

head
 title Casper
body(style="background-color: #0a0a19;")
 .text-center
  img(src="https://media.discordapp.net/attachments/950102464701558845/950435985118879786/unnamed.png")
  h1.text-white.display-3
    | CasperMusic. 
    i.fa-solid.fa-ghost
  h3.text-white.lead(style="font-size: 30px") a scary tone for your server.
  //button.btn.btn-secondary(type='button' onclick="location.href='/invite'" style="margin-right: 1%;") Invite Me!.
  //button.btn.btn-danger(type='button' onclick="location.href='https://discord.com/users/933856726770413578'") Get Support!.
 